<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello world</title>
    </head>
    <body>

        <h1>Welcome to Tweeter</h1>
        <!--
        <a th:href="/login" th:text="Login">Login</a>
        <a th:href="/registering" th:text="Register a new account">Register</a>
        -->
        <div>
            <a th:href="@{/login}" >Login</a>
        </div>

        <div>
            <a th:href="@{/register}">Register a new account</a>
        </div>

    </body>
</html>
