<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Register a new account</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/register" method="POST">
            Name: <input type="text" name="name" id="name"/><br/>
            Password: <input type="password" name="password" id="password"/><br/>
            Minkä merkkijonon haluaisit näytettävän profiilin yhteydessä? <input type="text" name="merkkijono" id="merkkijono"/><br/>
            <input type="submit"/>
        </form>
    </body>
</html>
